# Laravel
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.*.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Database
/database/database.sqlite

# Testing
playground/

# Documentation sources
*.docx
*.doc
